<div ng-if="viewClass === 'modal'" class="{{viewClass}}">
	<ion-header-bar class="bar-light">
		<h1 class="title">MIDATA</h1>
	</ion-header-bar>
	<ion-content>
		<label>{{currentUser}}</label>
		<button type="submit" class="button button-full button-positive" ng-click="logout()">Logout</button>
	</ion-content>
</div>
<div ng-if="viewClass === 'widget'" class="{{viewClass}}">
	<label class="item">{{currentUser}}</label>
	<button type="submit" class="button button-full button-positive" ng-click="logout()">Logout</button>
</div>